<div class="labels">
  {{#each labels}}
  <span class="{{.}}"></span>
  {{/each}}
</div>
<p>{{title}}</p>
<div class="info">
  {{#if due_date}}
    <span class="date {{date_class due_date}}">
    <i class="fa fa-clock-o"></i>{{format_date_small due_date}}
    </span>
  {{/if}}
  {{#if description}}
    <span class="fa fa-align-left desc"></span>
  {{/if}}
  {{#if comments.[0]}}
    <span><i class="fa fa-comment-o"></i> {{comments.length}}</span>
  {{/if}}  
</div>
<span class="fa fa-pencil"></span>