<div class="pop_over_header">
  <h3>Move Card</h3>
</div>

<div class="pop_over_body">
  <div>
    <select class="list_select" id="list_select">
      {{#each lists}}
        {{#if current}}
        <option value="{{id}}" selected>{{title}} (current)</option>
        {{else}}
        <option value="{{id}}">{{title}}</option>
        {{/if}}      
      {{/each}}
    </select>
  </div>
  <div>
    <label for="position_select">Position</label>
    <select class="position_select" id="position_select">
    </select>
  </div>
  <a href="#" class="button move">Move</a>
</div>